@charset "utf-8";

.wrap, .wrap > form, form > .form-group {
    width: 100%;
}
form > .form-group {
    margin-top: 30px;
}
.form-group > label {
    font-weight: bold;
    display: block;
}
#lcmd_gsvc {
    width: 30%;
}
p.help {
    margin: 3px 0px;
}
#file_link_delete {
    border-radius: 8px;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
}